{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
        <div class="table-responsive" align="center">
        <table>
        <tr>
            </tr>
            
            <tr>
        <form method="POST">

            <fieldset>
            <legend> <h1 style="color:#900C3F">Liste des Enseignants</h1> </legend> 
            <br>
            
            <table class="table table-bordered table-condensed table-hover" > <br>
            <tr>
                <div class="cold-md-8">
                    <form action="/search" method="GET">
                        <div class="input-group">
                          <td colspan='3'> <input type="search" name="nom" class="form-control"></td>
                          <td>
                            <span class="input-group-prepend">
                                <button type='submit' class="btn btn-primary">Rechercher</button>
                            </span>
                          </td>
                        </div>
                    </form>
                </div>
                </tr>
                <tr class="bg-info">
                    <th style="color:#900C3F"><b>Indentifiant</b></th>
                    <th style="color:#900C3F"><b>Nom</b></th>
                    <th style="color:#900C3F"><b>Prénom</b></th>
                    <th style="color:#900C3F"><b>Email</b></th>
                    <th style="color:#900C3F"><b>Filière</b></th>
                    <th style="color:#900C3F"><b>Modification</b></th>
                    
                </tr>
                    {% for etudiant in etudiants %}
                <tr>
                    <td><b>{{etudiant.codePermanent}}</b></td>
                    <td><b>{{etudiant.nom}}</b></td>
                    <td><b>{{etudiant.prenom}}</b></td>
                    <td><b>{{etudiant.email}}</b></td>
                    <td><b>#</b></td>
                    
                    <div class="form-group ">
                    <td>    <a class="btn btn-primary" type="submit" href="#">Modifier</a> </td>
                    </div>
                    
                    {%endfor%}
                </tr>
                
                <div class="form-group">
                    <td>
                        <a class="btn btn-primary" href='create'><span class="fa fa-bullhorn" style="color:#4f4;">
                            </span> Ajouter </button>
                    </td>
                </div>
                <div class="form-group">
                    <td>
                        <a class="btn btn-warning" href="#">Quitter</a>
                    </td>            
                </div> 
                <div class="form-group">
                    <td>
                        <a class="btn btn-outline-success" href="#">Format Excel</a>
                    </td>            
                </div>
                <div class="form-group">
                    <td>
                        <a class="btn btn-outline-primary" href="#">Format PDF</a>
                    </td>            
                </div>
                </fieldset>
            </table>
            </form>
            </tr>
            </table>
        </div>
{% endblock %}  