{% extends 'theme/base.html' %}

{% block body_content %}

    <div class="w-full h-auto">

        <!-- Create User account form -->
        <form action={% url 'unit:facultyCreationPage' %} method="post" class="flex flex-col space-y-2 w-full md:w-10/12 lg:w-8/12 rounded-md border border-sky-200 p-4">
            {% csrf_token %}
    
            <h1 class="text-5xl py-2 font-light">Ajouter un nouveau UE</h1>
            <hr />
    
            <div class="w-full flex flex-col space-y-2 justify-center">
                <label for="username" class="">Nom de l'UE</label>
                <input
                    type="text"
                    id="name"
                    name="name"
                    class="rounded-md outline-none px-4 py-1.5 border-sky-700 focus:border-sky-800 appearance-none focus:outline-none bg-neutral-100 focus:bg-white"
                />
            </div>

            <div class="w-full flex flex-col space-y-2 justify-center">
                <label class="inline-block text-sm text-gray-600" for="Multiselect"
                >Cours</label
                >
                <div class="relative flex w-full">
                        <div class="w-full flex items-center space-x-2">
                            <select
                                id="select-lecture"
                                name="lectures"
                                multiple
                                placeholder="Choisir cours..."
                                autocomplete="off"
                                class="block w-full rounded-md cursor-pointer focus:outline-none"
                                multiple
                            >
                            {% for lecture in lectures %}
                                <option value={{ lecture.pk }}>{{ lecture.name }}</option>
                            {% endfor %}
                            </select>
                            <button
                                type="button"
                                class="btn btn-outline-primary btn-floating btn-lg"
                                data-mdb-ripple-color="dark"
                                data-mdb-toggle="modal" 
                                data-mdb-target="#add_lecture"
                                >
                                <i class="fas fa-add"></i>
                            </button>
                        </div>
                    </div>
            </div>

            <div class="w-full mt-4 mb-2 flex justify-start">
                <button
                    type="submit"
                    class="flex items-center justify-center space-x-4 rounded-md bg-sky-800 text-white py-2 px-8 text-center hover:bg-sky-700"
                >
                <i class="material-icons">add</i>
                    <span class="text-neutral-100 font-bold">
                    Creer
                    </span>
                </button>
            </div>

        </form>
        <!--- End Create User account form-->

    </div>


    <!-- Modal Lecture -->
    <div class="modal fade" id="add_lecture" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nouveau Cours</h5>
            <button type="button" data-mdb-dismiss="modal" aria-label="Close">
                <i class="fas fa-close"></i>
            </button>
            </div>
            <div class="modal-body">
                <!-- Create User account form -->
                <form action={% url 'unit:lectureCreationPage' %} id="lecture_add_form" method="post" class="flex flex-col space-y-2 w-full p-2">
                    {% csrf_token %}            
                    <div class="w-full flex flex-col space-y-2 justify-center">
                        <label for="username" class="">Nom</label>
                        <input
                            type="text"
                            id="name"
                            name="name"
                            class="rounded-md outline-none px-4 py-1.5 border-sky-700 focus:border-sky-800 appearance-none focus:outline-none bg-neutral-100 focus:bg-white"
                        />
                    </div>

                    <div>
                        <label for="teacer" class="block mb-2 text-sm font-medium text-gray-900">Prof.</label>
                        <div class="w-full flex items-center space-x-2">
                            <select name="teacher" id="teacher" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                                {% for teacher in teachers %}
                                    <option value={{ teacher.pk }}>{{ teacher.first_name }} {{ teacher.last_name }}</option>
                                {% endfor %}
                            </select>
                            <a href="{% url 'accounts:createTeacherPage' %}" class="text-gray-800 cursor-pointer hover:text-blue-600">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </div>
                    </div>
            
                    <div class="grid gap-6 mb-6 md:grid-cols-2">
                        <div>
                            <label for="program" class="block mb-2 text-sm font-medium text-gray-900">Programme</label>
                            <select name="program" id="program" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="mic">Multimedia</option>
                                <option value="tr">Telecom. & Reseaux</option>
                            </select>
                        </div>
                        <div>
                            <label for="semester" class="block mb-2 text-sm font-medium text-gray-900">Semestre</label>
                            <select name="semester" id="semester" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="first_semester">Semestre 1</option>
                                <option value="second_semester">Semestre 2</option>
                            </select>
                        </div>
                    </div>

                    <div class="grid gap-6 mb-6 md:grid-cols-2">
                        <div>
                            <label for="hours" class="block mb-2 text-sm font-medium text-gray-900">Nbr. Heures</label>
                            <input type="number" id="hours" name="hours" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                        </div>
                        <div>
                            <label for="credit" class="block mb-2 text-sm font-medium text-gray-900">Credit</label>
                            <input type="number" name="credit" id="credit" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                        </div>
                    </div>

                </form>
        <!--- End Create User account form-->
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-mdb-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-outline-primary" onclick="document.getElementById('lecture_add_form').submit();" >Enregistrer</button>
            </div>
        </div>
        </div>
    </div>
    

{% endblock body_content %}

{% block javascripts %}
<script>
    new TomSelect('#select-lecture', {
      maxItems: 3,
    });
  </script>
{% endblock javascripts %}