{% extends "UE/RespoFiliere/index2.html" %}

{% block content %}
{% load static %}


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
     
       
      form{
        width: 500px;
        margin-left: 55%;
        margin-top: -2%;

      }
      label{
        margin-top: 5%;
        margin-left: 10%;
      }
      input, select{
        margin-left: 10%;
        width: 25px;
        
      }
      button{
        margin-left: 1000px;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
   
  <body>


<div class ="container">
  <br>
  
  {% for message in messages %}
  <p class="alert alert-success mt-3"> {{ message }}</p>
  {% endfor %}
  <br>
  {% if fil %}
  <br>
  <div class="col-12">
    <form method="POST" class="post-form" action="{% url 'updateCyc' fil.id %}">
      {% csrf_token %}
    
  <div class="form-group col-md-10">
    <label for="nom" style="color:White"><b>Cycle</b></label>
    <input type="text" class="form-control"  id="nom" name ="nom" value='numNiveau' placeholder="Saisir le nom du cycle">
  </div>
     <br>
     <div class="form-group col-md-10">
      <label for="niveau" style="color:white"><b>Niveau</b></label>
      <input type="number" class="form-control"  id="niveau" name ="niveau" value='niveau' placeholder="Saisir le nom du cycle">
  </div>
   <br><br>
    <table>
                        <tr></tr>
                            <tr>
                            <br><td>
                                    <div class="col-md-2 col-md-offset-4">
                                        <button type="submit" class="btn btn-success"> <span
                                        class="fa fa-send" style="color:#4f4;"></span> 
                                            Modifier
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
  {% else %}
  
  <br>
  <div class="col-12">
    <form method="POST" class="post-form" action="{% url 'ajoutCyc'%}">
      {% csrf_token %}
  
<div class="form-group col-md-10">
  <label for="nom" style="color:White"><b>Cycle</b></label>
  <input type="text" class="form-control"  id="nom" name ="nom" placeholder="Saisir le numéro de niveau">
  <br>
</div>
<div class="form-group col-md-10">
  <label for="niveau" style="color:White"><b>Niveau</b></label>
  <input type="number" class="form-control"  id="niveau" name ="niveau" placeholder="Saisir le numéro de niveau">
  <br>
</div>
  <br><br>
</div>
</div><br><br>
<table>
  <tr>
  <br><td>
          <div class="col-md-2 col-md-offset-4" >
              <button type="submit" class="btn btn-success"> <span
              class="fa fa-send" style="color:#4f4;"></span> 
                  Enregistrer
              </button>
          </div>
      </td>
      
    
  </tr>
</table>

                        {% endif %}                      
</form>
  </div>
</div>
</div>

<br>  
  </div>
</div>
    {%endblock%}