{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% comment %} <link rel="icon" href="{% static 'dashboard/images/logo.png' %}" /> {% endcomment %}
		<!-- Chart JS -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap" rel="stylesheet">
		<!-- Specific Page CSS goes here...  -->
		{% block stylesheets %}{% endblock stylesheets %}
		<title>
			University | {% if title %} {{ title }} {% else %} Auth {% endif %}
		</title>
		{% tailwind_css %}
	</head>

	<body class="bg-neutral-100 font-serif leading-normal tracking-normal">

        {% block content %}
        
        {% endblock content %}
		
	</body>

	<!-- Specific Page JS goes here...  -->
	{% block javascripts %}
	
	{% endblock javascripts %}
</html>
