 
{% extends "Enseignant/index.html" %}

{% block content %}
{% load static %}
<div class="container">
	<br>
	<br>
	<br>
	<div class="row">
		<div class="form-group col-md-6">
		       <label for="bio" style="color:white"><h3 class="">Présentation de l'EC</h3></label>
		       <textarea class="form-control" id="presentation" rows="7"></textarea>
		    </div>
			<div class="form-group col-md-6">
				<label for="bio" style="color:white"><h3 class="">Prérequis</h3></label>
				<textarea class="form-control" id="prerequis" rows="7"></textarea>
			 </div><br>
		</div>	
	<br>
		
			<div class="form-group col-md-6">
				<label for="bio"><h3 class="" style="color:white">Contenus</h3></label>
				<textarea class="form-control" id="prerequis" rows="7"></textarea>
			 </div><br>
			 <div class="col-md-2 col-md-offset-4">
		        <button type="submit" class="btn btn-success"> <span
		        class="fa fa-send" style="color:white">Ajouter</span> 
		        </button>
		    </div>
	    
    </div>
 </form>
 {% endblock %}