{% extends 'theme/base.html' %} 
{% load static %} 
{% load humanize %} 
{% block body_content %}

<!-- Main Infos Section -->
<div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-4">
  <!-- First Card -->
  <div class="space-y-1.5 rounded-xl bg-blue-500 p-4 shadow-blue-400 shadow-md">
    <div class="flex items-center justify-between w-full">
      <h3 class="text-white font-bold text-lg">Professeurs</h3>
      <span class="material-icons text-white">school</span>
    </div>
    <hr />
    <h1 class="text-white font-extrabold text-5xl text-right">
      {{ teachers.count }}
    </h1>
  </div>
  <!--End First Card -->

  <!-- Second Card -->
  <div
    class="space-y-1.5 rounded-xl bg-orange-500 p-4 shadow-blue-400 shadow-md"
  >
    <div class="flex items-center justify-between w-full">
      <h3 class="text-white font-bold text-lg">UE</h3>
      <span class="material-icons text-white">home</span>
    </div>
    <hr />
    <h1 class="text-white font-extrabold text-5xl text-right">
      {{ faculties.count }}
    </h1>
  </div>
  <!--End Second Card -->

  <!-- Third Card -->
  <div
    class="space-y-1.5 rounded-xl bg-green-500 p-4 shadow-blue-400 shadow-md"
  >
    <div class="flex items-center justify-between w-full">
      <h3 class="text-white font-bold text-lg">Etudiants</h3>
      <span class="material-icons text-white">person</span>
    </div>
    <hr />
    <h1 class="text-white font-extrabold text-5xl text-right">
      {{ students.count }}
    </h1>
  </div>
  <!--End Third Card -->
</div>
<!-- End Main Info Section-->

<hr class="my-3" />

<div class="w-full my-3 flex items-center space-x-4 justify-start">
  <a
    href="{% url 'accounts:createStudentPage' %}"
    class="px-3 py-1 flex items-center space-x-1 text-white bg-gray-800 rounded-md hover:bg-gray-700 cursor-pointer"
  >
    <span class="material-icons text-white">add</span>
    <span class="text-semibold">Etudiant</span>
  </a>
  <a
    href="{% url 'accounts:createTeacherPage' %}"
    class="px-3 py-1 flex items-center space-x-1 text-white bg-gray-800 rounded-md hover:bg-gray-700 cursor-pointer"
  >
    <span class="material-icons text-white">add</span>
    <span class="text-semibold">Professeur</span>
  </a>
  <a
    href="{% url 'enrollment:createEnrollmentPage' %}"
    class="px-3 py-1 flex items-center space-x-1 text-white bg-gray-800 rounded-md hover:bg-gray-700 cursor-pointer"
  >
    <span class="material-icons text-white">add</span>
    <span class="text-semibold">Staff</span>
  </a>
</div>



<!-- Resume Section: Lists-->
<!-- Enrollment List  -->
<div class="relative overflow-x-auto my-6">
  <h1 class="text-xl font-bold text-sky-700 my-2 bg-neutral-200 px-4 py-1.5 rounded-sm"> 10 Recents Inscriptions </h1>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Etudiant</th>
        <th scope="col" class="px-6 py-3">Niveau</th>
        <th scope="col" class="px-6 py-3">Type de paiement</th>
        <th scope="col" class="px-6 py-3">Active</th>
        <th scope="col" class="px-6 py-3">Montant</th>
        <th scope="col" class="px-6 py-3">Date</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">View</span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% if enrollments.count > 0 %}
        {% for enrollment in enrollments %}
          <tr
            class="bg-white border-b hover:bg-gray-50"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
            >
              {{ enrollment.student.first_name }} {{ enrollment.student.last_name }}
            </th>
            <td class="px-6 py-4">{{ enrollment.student.level }}</td>
            <td class="px-6 py-4">{{ enrollment.payment_status }}</td>
            <td class="px-6 py-4">{{ enrollment.active|yesno:"Active,Desactive" }}</td>
            <td class="px-6 py-4">{{ enrollment.amount|floatformat:0|intcomma }} F.CFA</td>
            <td class="px-6 py-4">{{ enrollment.created_at|date:"SHORT_DATE_FORMAT" }}</td>

            <td class="px-6 py-4 text-right">
              <a
                href="#"
                class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                >Detail</a
              >
            </td>
          </tr>
        {% endfor %}

        {% else %}
          <tr>
            <td class="px-6 py-4">Empty</td>
          </tr>
      {% endif %}
      
    </tbody>
  </table>
</div>
<!-- End Enrollment List  -->

<!-- Students List  -->
<div class="relative overflow-x-auto my-6">
  <h1 class="text-xl font-bold text-sky-700 my-2 bg-neutral-200 px-4 py-1.5 rounded-sm"> 10 Recents Etudiants </h1>
  <table class="w-full text-sm text-left text-gray-500">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Nom & Prenom</th>
        <th scope="col" class="px-6 py-3">Nationalite</th>
        <th scope="col" class="px-6 py-3">Niveau</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Tel</th>
        <th scope="col" class="px-6 py-3">Sexe</th>
        <th scope="col" class="px-6 py-3">Date arrivage</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">View</span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% if students.count > 0 %}
        {% for student in students %}
        <tr
            class="bg-white border-b"
          >
          <td>
            <div class="d-flex align-items-center px-2">
              <img
                  src="{% static 'images/user.png' %}"
                  alt=""
                  style="width: 35px; height: 35px"
                  class="rounded-circle"
                  />
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ student.first_name }} {{ student.last_name }}</p>
              </div>
            </div>
          </td>
          <td class="px-6 py-4">{{ student.nationality }}</td>
          <td class="px-6 py-4">
            {% if student.level == "first_year" %} 1ere Annee 
            {% elif student.level == "second_year" %} 2eme Annee
            {% elif student.level == "third_year" %} Licence
            {% elif student.level == "fourth_year" %} Master 1
            {% else %} Master 2
            {% endif %}
          </td>          <td class="px-6 py-4">{{ student.email }}</td>
          <td class="px-6 py-4">{{ student.phone }}</td>
            
          <td class="px-6 py-4">{% if student.sexe == "male" %} M {% else %} F {% endif %}</td>
          <td class="px-6 py-4">{{ student.created_at|date:"SHORT_DATE_FORMAT" }}</td>
          <td class="px-6 py-4 text-right">
            <a
              href="{% url 'accounts:detailStudentPage' student.pk %}"
              class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
              >Details</a
            >
          </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td class="px-6 py-4">Empty</td>
        </tr>
      {% endif %}
      
    </tbody>
  </table>
</div>
<!-- End Student List  -->


<!-- Teachers List  -->
<div class="relative overflow-x-auto my-6">
  <h1 class="text-xl font-bold text-sky-700 my-2 bg-neutral-200 px-4 py-1.5 rounded-sm"> 10 Recents Profs </h1>
  <table class="w-full text-sm text-left text-gray-500">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Nom & Prenom</th>
        <th scope="col" class="px-6 py-3">Faculte</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Tel</th>
        <th scope="col" class="px-6 py-3">Disponibilite</th>
        <th scope="col" class="px-6 py-3">Date arrivage</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
    {% if teachers.count > 0 %}
      {% for teacher in teachers %}
      <tr
        class="bg-white border-b border-neutral-300"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
        >
          {{ teacher.first_name }} {{ teacher.last_name }}
        </th>
        <td class="px-6 py-4">{{ teacher.faculty.name }}</td>
        <td class="px-6 py-4">{{ teacher.email }}</td>
        <td class="px-6 py-4">{{ teacher.phone }}</td>
        <td class="px-6 py-4">{{ teacher.available|yesno:"OUI, NON" }}</td>
        <td class="px-6 py-4">{{ teacher.created_at|date:"SHORT_DATE_FORMAT" }}</td>
        <td class="px-6 py-4 text-right">
          <a
            href="#"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
            >Details</a
          >
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td class="px-6 py-4">Empty</td>
      </tr>
    {% endif %}
    </tbody>
  </table>
</div>
<!--- End Teachers List -->

{% endblock body_content %}
