{% extends "RespoScolarite/index.html" %}

{% block content %}

<div class ="container">
    <div class="row">
      <br>
      <br>
      <br>
      <div class="table-responsive"></div>
        <table>
            <tr>
              <th scope="row" style="color: blue; font-family:'Times New Roman', Times, serif; font-size: 27px; text-align: center;
              ">&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; Ecole Centrales des Logiciels Libres et des Télécommunications</th> 
            </tr>
            <tr>
                <th style="color: blue; font-family:'Times New Roman', Times, serif; font-size: 30px;">logo EC2LT</th>
                <th style="color: black; font-family:'Times New Roman', Times, serif; font-size: 25px;">Carte Etudiant(e)</th>
            </tr> 
            <tr>
                <th style="color: blue; font-family:'Times New Roman', Times, serif; font-size: 15px;">ECOLE CENTRALE DES LOGICIELS LIBRES <br> ET DE TELECOMMUNICATION </th>
                <th style="color: red; font-family:'Times New Roman', Times, serif; font-size: 25px;"> ANNEE ACADEMIQUE <br>2020-2021</th>
            </tr>
            <tr><th style="font-family:'Times New Roman', Times, serif; text-align: center;"> L3 TR </th></tr>
            <tr>
              <td>
                <tr><td>Prenom</td></tr>
                <tr><td>Nom</td></tr>
                <tr><td>mat.:matricule</td></tr>
                <tr><td>Cel : numTel</td></tr>
                <tr><td>Email: email</td></tr>
                <tr><td>Tel: numTelEcole Site Web: siteEcole</td></tr>
              </td>
              <td rowspan="5">Photo</td>
            </tr>

        </table>
    </div>
</div>

{% endblock %}